<div class="container">

  <titleText title="Főoldal"></titleText>

  <div class="row">
    <div class="col-12">
      <p> A <strong>kineziológia</strong> olyan személyiség-és képességfejlesztő módszer, amely preventív (megelőző)
        céllal is alkalmazható.
        Ötvöződnek benne a kínai öt elem tanától a legújabb idegélettani eredmények az általános</p>
      <p>és fejlődés-lélektani, viselkedéspszichológiai, környezet- és táplálkozástudományi ismeretekkel.</p>
      <p><strong>Eszköze</strong> az <strong>izomtesztelés</strong>: agyunk, így testünk is minden történésre emlékszik,
        s ezek az emlékek az izmokon keresztül lekérdezhetők.
        Mit jelent ez?<br />
        Az alkar izmaira enyhe nyomást gyakorolva megtudhatjuk, hogy egy adott történés, személy milyen érzelmi
        viszonyban van velünk: elgyengít?<br />
        stresszel? (negatív érzelmek). Megmutatva ezzel, hol vannak egyensúlytalanságok a testben.
        Hol szükséges a blokkolt energiaáramlást oldani.
        A kérdezgetés, oldás technikájában a kineziológus eszköztára széles, az egyéni megoldások tárháza napról napra
        bővülő.</p>
      <p>A kezelés célja a stresszoldás, - hogy a jelenbéli stresszek és azok múltbeli kapcsolódásai oldódjanak<br />
        elősegítve az öngyógyító mechanizmusok működését.</p>
      <p>Az energiahiányokat a kineziológia One Brain módszere a érzelmek felengedésével, megértésével oldja.
        Fontos eleme a kineziológia One Brain módszerének a homlok-tarkó tartás.
        Itt beszélgetéses jellegű időutazásban lehet részed, ahol gyengéd korrekciók segítségével oldja fel a
        kineziológus az eddig megszokott,
        berögzült gyermekkori mintáidat, így lehetőséged lesz arra, hogy védekezési taktikádon változtass.
        Ami 3 éves korodban jó védekezési ötletnek tűnt, attól a jelen életedben lehet, hogy szenvedsz.
        Ahogy a játékbabát és a kis vonatot is kinőtted már, úgy ezek a rossz gyermekkori beidegződések is idejét
        múltak.
        A kineziológia segít váltani, változtatni. Gyengéden, logikusan, egyszerűen és gyorsan.</p>
    </div>
  </div>
  <app-horizontal-line></app-horizontal-line>
  <div class="row">
    <div class="col-4">
      <app-load-image source="t1.png"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image source="t2.png"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image source="t3.png"></app-load-image>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <p>Az Access Bars egy gyengéd kézrátételes módszer, amelyet <a
          href="https://www.accessconsciousness.com/hu/about/access-creators/gary-douglas/" target="_blank"
          rel="noopener">Gary Douglas</a> mutatott be a 90-es évek elején.
        32 energiasávból áll, amelyek az agyadon át és körben futnak.
        Ezek a barok bizonyos "bar pontokat" kötnek össze, és az élet különböző területeivel és aspektusaival vannak
        összefüggésben.
        Az Access Bars kezelés alatt a kezelő finoman megérinti ezeket a pontokat, hogy feloldja/semlegesítse a
        gondoltok, stb. elektromagnetikus töltését, amelyek korlátozhatnak téged az érintett életterületeken.</p>
      <p>Ma az Access Barst a világ több mint 170 országában alkalmazzák potens és pragmatikus eszközként
        családokban, iskolákban, üzleti életben, atléták, börtönőrök, pszichológusok, művészek és sokak mások által.</p>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-4">
      <app-load-image imageClassIfExist="roundedCornerImageSmall" source="access1.jpg"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image imageClassIfExist="roundedCornerImageSmall" source="access2.jpg"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image imageClassIfExist="roundedCornerImageSmall" source="szamar.jpg"></app-load-image>
    </div>
  </div>

  <app-horizontal-line></app-horizontal-line>

  <div class="m-5"></div>


</div>
