
<div class="container">
  <div class="row">
    <div class="col-12"><h1 class="text-center">Főoldal</h1></div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-load-image source="t1.png"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image source="t2.png"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image source="t3.png"></app-load-image>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-4">
      <app-load-image source="access1.jpg"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image source="access2.jpg"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image source="szamar.jpg"></app-load-image>
    </div>
  </div>
</div>


