<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Rólam</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex">
        <app-load-image  source="about_300.jpg" class="text-center " imageClassIfExist="roundedCornerImage"></app-load-image>
      </div>

    </div>
  </div>
  <div class="row m-5">
    <div class="col-4">
      <app-load-image  source="about_300.jpg" class="text-center " ></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image  source="about_300.jpg" class="text-center " ></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image  source="about_300.jpg" class="text-center " ></app-load-image>
    </div>
  </div>
</div>
