<div class="container p-5">
  <titleText title="Access Bars"></titleText>

  <div class="row">
    <div class="col-4">
      <app-load-image source="t1.png" imageClassIfExist="roundedCornerImageSmall smallImage"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image source="t2.png" imageClassIfExist="roundedCornerImageSmall smallImage"></app-load-image>
    </div>
    <div class="col-4">
      <app-load-image source="t3.png" imageClassIfExist="roundedCornerImageSmall smallImage"></app-load-image>
    </div>
    <div class="col-12">
      <p>Az Access Bars egy gyengéd kézrátételes módszer, amelyet <a
        href="https://www.accessconsciousness.com/hu/about/access-creators/gary-douglas/" target="_blank"
        rel="noopener">Gary Douglas</a> mutatott be a 90-es évek elején.
      32 energiasávból áll, amelyek az agyadon át és körben futnak.
      Ezek a barok bizonyos "bar pontokat" kötnek össze, és az élet különböző területeivel és aspektusaival vannak
      összefüggésben.
      Az Access Bars kezelés alatt a kezelő finoman megérinti ezeket a pontokat, hogy feloldja/semlegesítse a gondoltok,
      stb. elektromagnetikus töltését,
      amelyek korlátozhatnak téged az érintett életterületeken.</p>
    <p>Ma az Access Barst a világ több mint 170 országában alkalmazzák potens és pragmatikus eszközként családokban,
      iskolákban, üzleti életben, atléták, börtönőrök, pszichológusok, művészek és sokak mások által.</p>


    </div>
    <div class="d-flex ">
      <app-load-image source="access1.jpg" imageClassIfExist="roundedCornerImageSmall smallImage"></app-load-image>
      <app-load-image source="access2.jpg" imageClassIfExist="roundedCornerImageSmall smallImage"></app-load-image>
    </div>
  </div>
</div>
