
<div class="container">
  <div class="row">
    <div class="col-12"><h1 class="text-center">Kapcsolat</h1></div>
  </div>
  <div class="row">
    <div class="col-12">
      <p><b>Név:</b> Mészáros Anita</p>
    </div>
    <div class="col-12">
      <p><b>Telefon:</b> <a href="tel:+36202851928"> +36-20-285-1928</a></p>
    </div>
    <div class="col-12">
      <p><b>E-mail:</b> <a href="mailto:info@letezzkonnyeden.hu"> info@letezzkonnyeden.hu</a> </p>
    </div>
    <div class="col-12">
      <p><b>Székhely: </b> <a href="https://maps.app.goo.gl/aQUCaxN1hVtuMGt69" target="_blank"> 1165 Budapest, Hunyadvár utca 45/c 1. emelet 3</a></p>
    </div>
    <div class="col-12">
      <p><b>Adószám: </b>57741253-1-42</p>
    </div>

  </div>
</div>
