<footer>


  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <p>Kapcsolat</p>
              <ul>
                <li>E-mail: <a href="mailto:info@letezzkonnyeden.hu"> info@letezzkonnyeden.hu</a> </li>
                <li>Telefon: <a href="tel:+36202851928"> +36-20-285-1928</a> </li>
                <li>Székhely: <a href="https://maps.app.goo.gl/aQUCaxN1hVtuMGt69" target="_blank"> 1165 Budapest, Hunyadvár utca 45/c 1. emelet 3</a></li>
              </ul>
            </div>

            <div class="col-4">
              <p>Impresszum</p>
            </div>
            <div class="col-4">
              <div class="d-flex social-media-icons">


                <app-load-image source="fb.png" altText="facebook" ></app-load-image>
                <app-load-image source="i.png" altText="instagran"></app-load-image>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
