<div class="container p-5">
  <titleText title="Ugorj a békákkal"></titleText>
  <div class="row">
    <div class="col-12">
      <app-load-image source="beka.jpg" imageClassIfExist="roundedCornerImageSmall smallImage"></app-load-image>
      <p>
        Az Ugorjunk a Békákkal! tréninget Gabriele Ulbrich osztrák kineziológus fejlesztette ki.
        Célja az volt, hogy a program segítségével a gyermekek fel tudják ismerni saját problémáikat
        és egyszerű módszerekkel segíteni tudjanak magukon.Már kisgyermekként tanulunk: kapcsolatba kerülünk a
        testünkkel,
        megtanulunk, ülni, állni, járni, beszélni, biciklizni, úszni, mászókára mászni, tanuljuk a társas kapcsolatokat
        is…
        ezek még könnyű és örömteli tanulások. Próbálkozunk, gyakorlunk, míg nem megy Majd mikor bekerülünk az iskolába,
        lehet,
        hogy lassabban olvasunk,
        nehezebben számolunk, az olvasást nem értjük, ez alapján véleményeznek, osztályoznak minket. Gyakran félünk
        attól, hogy
        nem tudunk teljesíteni, megbukunk.
        Kevesebb piros pontot, rosszabb jegyet kapunk, mint a másik. Elmegy a kedvünk az egésztől, feladjuk. Nem
        olvasunk a
        többiek előtt.
        Inkább nem focizunk, nem járunk táncra, mert úgyis ügyetlenek vagyunk. Önképünk részévé válik..
        Ez határoz meg minket. „ Én nem tudok rajzolni, nem vagyok jó sportoló, lassú vagyok, annyi közöm van a
        matekhoz, mint
        egy kavicsnak…
        Ismerősek? Ezek a gyerekkori berögződések elkísérnek felnőtt létünkig.Ha a nyomás túl nagy rajtunk és azt
        érezzük nem
        tudunk teljesíteni,
        ez kibillenthet egyensúlyunkból és stresszt okoz számunkra.A cél, hogy a gyermek könnyedén vegye az akadályokat
        élete
        minden területén ,
        valamint felkészítsük őket a stresszmentes tanulásra.Kreatív, játékos feladatokkal, meditációval, melyben
        kibonthatják a
        gyermeki fantáziát,
        saját egyedi képeikkel tudatosabban megélhetik önmagukat, a nyugalmat. Kapcsolódni tudnak saját magukkal.
        Segít megelőzni a tanulási nehézségeket, írási, olvasási problémákat, önbizalomhiányt, javítja a koncentráló
        képességet.
        Támogatja a pozitív önértékelést.A jegyzetek segítségével a megerősítő gyakorlatokat otthon is el tudják
        végezni, így
        válhatnak tartóssá az eredmények.
        Ajánlom, ha a gyermek(nek)- most megy iskolába- nehézséget okoz a beilleszkedés- gondjai vannak valamelyik
        tantárggyal-
        stresszt okoz a tanulás-
        nehezen viseli a változásokat UGORJ A BÉKÁKKAL 1. SZINT(kb. 6-tól kb. 12 éves korig)Időtartam: 8 óraTémakörök:
        1. Mi a
        tanulás? Hogyan érzem magam, ha a tanulásról van szó?
        Jó? Rossz? 2. Mindig így éreztük magunkat? Hol alakult ki blokk? 3. Stressz helyzetben miért nem tudom a
        választ? (Miért
        számolom el magam? Miért felejtem el a verset?)</p>
      <ul>
        <li>1. Tudom, hogy tudom, de nem merek megszólalni. Elbizonytalanodom. UGORJ A BÉKÁKKAL</li>
        <li>2. SZINT(10-től kb. 16 éves korig)Időtartam: 8 óraTémakörök:1. A csoport nyomása, szülők, testvérek, barátok
        </li>
        <li>3. Eredetinek lenni: Miben rejlik az eredetiségem, különlegességem? 3. A testem a legjobb barátom</li>
        <li>4. Mit kezdhetek az érzéseimmel? Hogyan kerülhetek tudatába az érzéseimnek? Hogyan kezelhetem az
          érzelmeimet?</li>
      </ul>
    </div>
  </div>
</div>

<h3><strong></strong></h3>
