/* You can add global styles to this file, and also import other style files */
$containerBgColor:#e5ecf0;
$pColorInContainer:#555;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.container{
  margin-top: 80px;
  background-color: $containerBgColor;
  border-radius: 10px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
p,li{
  color: $pColorInContainer;
}
}

.roundedCornerImage{
  border-radius: 50%;
}
.roundedCornerImageSmall{
  border-radius: 30px;
}
h1{
  font-weight: 300;
  text-decoration: underline;
margin-top: 20px;
margin-bottom: 20px;
color: rgb(90, 82, 82);
letter-spacing: 1rem;
}

.smallImage{
  max-width: 200px;
  margin-bottom: 5rem;
}
