<div class="container p-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Kineziológia</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>A <strong>kineziológia</strong> olyan személyiség-és képességfejlesztő módszer, amely preventív (megelőző)
        céllal is
        alkalmazható.
        Ötvöződnek benne a kínai öt elem tanától a legújabb idegélettani eredmények az általános</p>
      <p>és fejlődés-lélektani, viselkedéspszichológiai, környezet- és táplálkozástudományi ismeretekkel.</p>
      <p><strong>Eszköze</strong><strong> </strong> az <strong>izomtesztelés</strong>: agyunk, így testünk is minden
        történésre emlékszik, s ezek az emlékek az izmokon keresztül lekérdezhetők. Mit jelent ez?<br />
        Az alkar izmaira enyhe nyomást gyakorolva megtudhatjuk, hogy egy adott történés, személy… milyen érzelmi
        viszonyban van velünk: elgyengít?,<br />
        stresszel?(negatív érzelmek). Megmutatva ezzel, hol vannak egyensúlytalanságok a testben. Hol szükséges a
        blokkolt energiaáramlást oldani.
        A kérdezgetés, oldás technikájában a kineziológus eszköztára széles,<br />az egyéni megoldások tárháza napról
        napra bővülő.</p>
      <p>A kezelés célja a stresszoldás, - hogy a jelenbéli stresszek és azok múltbeli kapcsolódásai oldódjanak<br />
        elősegítve az öngyógyító mechanizmusok működését.</p>

    </div>
  </div>
</div>
