:host{
  .container{
    .row{
      ul{
        li{
          cursor: pointer;
          display: block;
          width: 150px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
