<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Szolgáltatások</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-autp">
      <ul>
        <li routerLink="../service/kineziologia">Kineziológia</li>
        <li routerLink="../service/accessbars">Access Bars</li>
        <li routerLink="../service/csillamtetovalas">Csillámtetoválás</li>
        <li routerLink="../service/ugorjabekakkal">Ugorj a békákkal!</li>
      </ul>
    </div>
  </div>
</div>
